<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-title>Cadastrar Transação</mat-card-title>
      <mat-card-content>
        <form class="form-row" (ngSubmit)="onSubmit()">
          <!-- Campo de Data -->
          <mat-form-field appearance="outline" hideRequiredMarker="true" class="flex-item">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="date" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Campo de Descrição -->
          <mat-form-field appearance="outline" hideRequiredMarker="true" class="flex-item">
            <mat-label>Descrição</mat-label>
            <input matInput type="text" [(ngModel)]="description" name="description" placeholder="Digite uma descrição" required />
          </mat-form-field>

          <!-- Campo de Valor -->
          <mat-form-field appearance="outline" hideRequiredMarker="true" class="flex-item valor">
            <mat-label>Valor</mat-label>
            <input matInput type="number" [(ngModel)]="value" name="value" placeholder="Digite o valor" required />
          </mat-form-field>

          <!-- Seleção de Tipo -->
          <mat-form-field appearance="outline" hideRequiredMarker="true" class="flex-item tipo">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="type" name="type" required>
              <mat-option value="income">Receita</mat-option>
              <mat-option value="expense">Despesa</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Campo de Categoria -->
          <mat-form-field appearance="outline" hideRequiredMarker="true" class="flex-item categoria">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="category" name="category" required>
              <mat-option *ngFor="let category of categories" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Botão de Atualizar -->
          <button mat-raised-button color="primary" type="submit" class="btn">
            Atualizar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
